#demo{
    display:grid;
    top: 10%;
    width: 60%;
    left: 20%;
    right: 20%;
    position: absolute;
}
 #bload{
    width: 12%;
    height: 6%;
    left: 44%;
    top: 3%;
    font-family: Open Sans Extrabold;
    position: absolute;
    border-radius: 5px;
    border: solid 1px black;
    font-weight: bold;
    font-size: 55%;
    background-color: rgb(213,210,210);
    margin:auto;
    vertical-align:middle;

}